body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.top-bar, .bottom-bar {
    height: 30px;
    background-color: #c9e07a; /* Color de las barras */
    width: 100%; /* Ancho completo */
    margin: 10px;
   
    
}

h1{
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}

.left-section, .right-section {
    flex: 1;
    min-width: 200px; /* Mínimo ancho para cada sección */
    margin: 10px;
    border-radius: 8px;
}

.left-section {
    /*background-color: #fddce1; */
    margin: 20px;
    box-shadow: 0 5px 8px rgba(234, 50, 78, 0.4);
}

.right-section video {
    width: 100%;
    border-radius: 8px;
    margin: 0px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        margin: 5px 0;
    }
}
.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    margin: 20px;
    box-shadow: 0 5px 8px rgba(234, 50, 78, 0.4);
    padding: 5%;
}

.card {
    width: 250px;
    height: 250px;
    background-color: #A9C940; /* Color de fondo de las tarjetas */
    border-radius: 50%; /* Hace las tarjetas circulares */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 10px; /* Espacio entre las tarjetas */
    font-size: 1.2em; /* Tamaño del texto dentro de las tarjetas */
    text-align: center; /* Centrar el texto horizontalmente */
    box-shadow: 0 5px 16px rgba(255, 174, 248, 0.4);
    padding: 10;
}