.text-column h1 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

.text-column h2 {
    font-size: 40px; 
    margin-bottom: 8px; 
}

.container1 {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
}

.image-column {
    width: 100%; 
    display: flex;
    justify-content: end; 
    align-items: center; 
    padding: 20px; 
}

.image-column img {
    width: 100%; 
    height: auto; 
    border-radius: 15px;
    box-sizing: border-box; 
}

.text-column {
    width: 100%;
    padding: 20px; 
}

.text-column p {
    max-width: 400px; 
}


@media (min-width: 768px) {
    .container1 {
        flex-direction: row;
    }

    .image-column, .text-column {
        flex: 0 0 50%; 
    }

    .image-column img {
        width: 40%; 
    }
}
