.container-p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #aae1f9;
}

.pj-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Reducir el espacio entre tarjetas */
    padding: 20px;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.pj-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 300px; /* Reducir el ancho máximo */
    transition: box-shadow 0.3s ease;
}

.pj-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pj-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: transform 0.3s ease;
}

.pj-card:hover img {
    transform: scale(1.05);
}

.pj-card-text {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 0 0 12px 12px;
    font-size: 0.8em; /* Reducir el tamaño de fuente */
}

/* Ajuste para que el texto siempre sea visible */
.pj-card .pj-card-text {
    opacity: 1;
}

/* Estilos para los enlaces */
.pj-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Estilos para el título */
.pj-card-text h2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em; /* Reducir el tamaño de fuente del título */
}

/* Estilos para el texto */
.pj-card-text p {
    font-weight: normal;
    margin: 0;
    font-size: 0.9em; /* Reducir el tamaño de fuente del texto */
}
